<td class="column1"
    [ngClass]="{
    'top-left-radius': topRadius,
    'bottom-left-radius': bottomRadius
    }">

<!--  <fd-checkbox-->
<!--    [(ngModel)]="data.data.flag"-->
<!--    size="xs"-->
<!--  >-->

<!--  </fd-checkbox>-->

    <label
      class="checkbox ">
      <input [(ngModel)]="data.data.flag" type="checkbox">
      <span></span>
    </label>
  <div class="underline"></div>
</td>
<td (click)="changeDetector(index)" class="img ">
  <fd-avatar size="s" [circle]="true" alt="user-img" image="{{data.data.img}}"></fd-avatar>
  <div class="underline"></div>
</td>
<td (click)="changeDetector(index)">
    <span [ngClass]="filterFlags[0] ? 'active-state' : 'blocked-state'"
          class="padding font-bold">{{data.data.name}}</span>
</td>
<td (click)="changeDetector(index)">
    <span [ngClass]="filterFlags[1] ? 'active-state' : 'blocked-state'"
          class="padding font-regular">{{data.data.position}}</span>
</td>
<td (click)="changeDetector(index)">
    <span [ngClass]="filterFlags[2] ? 'active-state' : 'blocked-state'"
          class="padding font-regular">{{data.data.department}}</span>
</td>
<td (click)="changeDetector(index)">
    <span [ngClass]="filterFlags[3] ? 'active-state' : 'blocked-state'"
          class="padding font-regular">{{data.data.seniorityLevel}}</span>
</td>
<td (click)="changeDetector(index)">
    <span [ngClass]="filterFlags[4] ? 'active-state' : 'blocked-state'"
          class="padding font-regular">{{data.data.location}}</span>
</td>
<td (click)="changeDetector(index)">
    <span [ngClass]="filterFlags[5] ? 'active-state' : 'blocked-state'"
          class="padding position-right font-regular">{{data.data.companyWorkExperience}}</span>
</td>
<td (click)="changeDetector(index)"
    [ngClass]="{
    'top-right-radius': topRadius,
    'bottom-right-radius': bottomRadius
    }">
  <span class="padding position-right last-col"
        [ngClass]="{'match-green':(data.data.positionMatch>=66), 'match-blue':((data.data.positionMatch<66)&&(data.data.positionMatch>=40)), 'match-red':(data.data.positionMatch<40)}">
    <span
      class="font-bold">{{data.data.positionMatch}}% Match
    </span>
  </span>
</td>

